
body {
    background-image: url("images/wood-background.jpeg")
}

#main-holder {
    background-color: black;
    height: 500px;
    margin-top: 100px;
}

#block-one {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    height: 20px;
    width: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}
#block-two {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    height: 20px;
    width: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}
#block-three {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    height: 20px;
    width: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}

/* #block-one:hover {
    padding-bottom: 150px;
}
#block-two:hover {
    padding-bottom: 125px;
}
#block-three:hover {
    padding-bottom: 100px;
} */

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#name {
    padding-top: 30px;
}

#greeting {
    width: 500px;
    float: left;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 300px;
}

#about-me {
    background-color: black;
    height: 500px;
    margin-top: 150px;
}

#port-link-holder {
    height: 200px;
    width: 700px;
    float: left;
}

.portfolio-link {
    height: 20px;
    width: 200px;
    float: left;
    background-color: white;
    margin-top: 50px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}

.portfolio-link {
    color: black;
}
.git-links {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.gitHub-direct {
    color: white;
}

a.linkedIn-direct {
    color: white;
}

#gitHub-links {
    margin-top: 120px;
    float: left;
    color: white;
}


.link-name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact-holder {
    float: left;
    width: 450px;
    margin-top: 50px;
}

label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#train-link:hover {
    padding-top: 200px;
    color: white;
    background-image: url("images/train.jpeg");
    box-shadow: 3px 3px #727171;
}

#gif-link:hover {
    padding-top: 200px;
    color: white;
    background-image: url("images/gifTastic2.jpeg");
    box-shadow: 3px 3px #727171;
}

#jewel-link:hover {
    padding-top: 200px;
    color: white;
    background-image: url("images/jewel.jpeg");
    box-shadow: 3px 3px #727171;
}

.contact-info {
    color: white;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}

#bio {
    width: 700px;
    float: left;
    margin-top: 20px;
}

.para {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

@media (max-width: 725px) {
    #block-one {
        width: 75px;
    }
    #block-two {
        width: 75px;
    }
    #block-three {
        width: 75px;
    }

    #bio {
        width: 500px;
    }
    .para {
        font-size: 13px;
    }
    .portfolio-link {
        width: 125px;
    }
}

@media (max-width: 600px) {
    #block-one {
        width: 50px;
    }
    #block-two {
        width: 50px;
    }
    #block-three {
        width: 50px;
    }

    #bio {
        width: 500px;
    }
    .para {
        font-size: 12px;
    }
    .portfolio-link {
        width: 125px;
    }
}

@media (max-width: 420px) {
    #block-one {
        width: 50px;
    }
    #block-two {
        width: 50px;
    }
    #block-three {
        width: 50px;
    }
    #contact-holder {
        width: 375px;
        margin-top: 15px;
    }
    #greeting {
        width: 375px;
        margin-top: 200px;
    }
    #bio {
        width: 350px;
    }
    .para {
        font-size: 10px;
    }
    .portfolio-link {
        width: 100px;
    }
}