
body {
    background-image: url("images/wood-background.jpeg")
}

#main-holder {
    background-color: black;
    height: 500px;
    margin-top: 100px;
}

#block-one {
    height: 20px;
    width: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
    /* box-shadow: 3px 3px rgb(255, 188, 62); */
}
#block-two {
    height: 20px;
    width: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}
#block-three {
    height: 20px;
    width: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}

#block-one:hover {
    padding-bottom: 225px;
}
#block-two:hover {
    padding-bottom: 175px;
}
#block-three:hover {
    padding-bottom: 125px;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#name {
    padding-top: 30px;
}

#greeting {
    width: 500px;
    float: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 230px;
}

#about-me {
    background-color: black;
    height: 500px;
    margin-top: 150px;
}

#port-link-holder {
    height: 200px;
}

.portfolio-link {
    height: 20px;
    width: 200px;
    float: left;
    background-color: white;
    margin-top: 150px;
    margin-left: 10px;
    box-shadow: 3px 3px #727171;
}

/* .portfolio-link:hover {
    padding-top: 225px;
    color: white;
    background-image: url("images/train3.jpeg");
} */

.link-name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact-form {
    float: left;
    width: 450px;
}

label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#train-link:hover {
    padding-top: 200px;
    color: white;
    background-image: url("images/train.jpeg");
    box-shadow: 3px 3px #727171;
}

#gif-link:hover {
    padding-top: 200px;
    color: white;
    background-image: url("images/gifTastic2.jpeg");
    box-shadow: 3px 3px #727171;
}

#jewel-link:hover {
    padding-top: 200px;
    color: white;
    background-image: url("images/jewel.jpeg");
    box-shadow: 3px 3px #727171;
}